body {
    background: linear-gradient(135deg, #1a237e, #00796b);
    animation: aurora 10s ease infinite;
    background-size: 400% 400%;
    height: 100vh;
    margin: 0;
}
html {
    height: 100%;
}
@keyframes aurora {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#typewriter::after {
    content: '|';
    animation: blink 0.75s step-end infinite;
    color: white;
}
@keyframes blink {
    from, to { opacity: 0 }
    50% { opacity: 1 }
}
.text-box {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.show {
    opacity: 1 !important;
    transform: translateX(0) !important;
}

.hide {
    opacity: 0 !important;
    transform: translateX(100%) !important;
}