* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Mérethez igazítás... */
}

body 
{
    background-size: cover; /* Mérethez igazítás. */
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh; /* Nézetes méret. (Azaz a böngésző ablakához.)*/
    display: flex;
    flex-direction: column; /* Flexbox iránya... */
}

.wrapper /* Reszponzív középre igazítás. */
{
    position: relative; /* Viszonylagos méretbe marad, minden más igazodik hozzá. */
    width: 400px;
    height: auto;
    background: rgba(243, 238, 238, 0.9);
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 140px auto 20px auto;
}

h2 
{
    font-size: 30px;
    color: black;
    text-align: center;
}

.input-group /* Bemenet csoport CSS-e. */
{
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid grey;
}

.input-group label  /* Címke beállitások. */
{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%); /* Garantáltan középre igazítás. */
    font-size: 16px;
    color: black;
    pointer-events: none; /* Kattintás kezelés. */
    transition: top 0.5s;
}

.input-group input 
{
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: black;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
}

.input-group input:focus ~ label, /* Felfelé mozgatás, kattintás vagy adat átadáshoz. */
.input-group input:valid ~ label 
{
    top: -5px;
}

.jelszo-icon 
{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    cursor: pointer;
}

button:hover 
{
    background-color: rgb(222, 230, 233);
}